* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 30px;
    color: white;
}

#cenario {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url(imagens/espaco.gif);
    background-position: center;
    background-repeat: repeat;   /* é p/ colocar uma animação p/ imagem de fundo se deslocar (se mover) */
    background-size: cover;   /* o tamanho da imagem de fundo é (cover) */
    overflow: hidden;   /* p/ que não tenha barra de rolagem ( não saia nada fora do cenario */
}

#menu {
    width: 80vw;   /* largura do menu */
    display: flex;   /* é p/ ficar em linha(alinhado) */
    justify-content: space-between;   /* é p/ ficar um em cada ponta alinhado */
    margin-top: 40px;
}

#iniciar {
    position: absolute;
    color: black;
    top: 50%;  /* posicionar no meio */
    left: 50%;  /* posicionar no meio */
    transform: translate(-50%, -50%);  /* posicionar no meio */
    display: block; 
    border-radius: 5px; 
    padding: 10px 20px;
    cursor: pointer;   /* quando passar o mouse em cima vira uma mãozinha
     */
}

#nave {
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url(imagens/jogador.gif);
    background-position: center;
    background-repeat: no-repeat;   /* p/ não repetir a imgagem */
    background-size: contain;   /* deixa a imagem nítida (aparecerá) */
    bottom: 0;

}

@keyframes animarCenario {   /* de 100% para 0% */
    from {
        background-position-y: 100%;
    } 
    to {
        background-position-y: 0%;
    }
}